
input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #3A82EE;
  box-shadow: 0 0 4px rgba(58, 130, 238, 0.75);

  &.personal {
    border-color: #EA40A4;
    box-shadow: 0 0 4px rgba(234, 64, 164, 0.75);

    &::after {
      background-color: #EA40A4;
      box-shadow: 0 0 4px rgba(234, 64, 164, 0.75);
    }
  }
  &::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
    background-color: #3A82EE;
    box-shadow: 0 0 4px rgba(58, 130, 238, 0.75);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }
}

input:checked ~ label .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

button {
  background: #3A82EE;
  border-radius: 4px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
